:root {
  --main-color: #37517e;
  --container-fluid-color: #f5f6f8;
}

.main-color {
  color: #37517e;
}

.container-fluid-bg-color {
  background-color: var(--container-fluid-color);
}

.nav-container {
  background-color: var(--main-color);
}

.hero {
  width: 95%;
}

.hero p {
  color: #c3cbd9;
}
.hero img {
  animation: upDown 1.5s ease-in-out 0s infinite alternate both;
}

.gray {
  position: relative;
  width: 20%;
  height: 2px;
  background-color: lightgrey;
  margin: auto;
}

.blue {
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: aqua;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes upDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
