:root {
  --main-color: #37517e;
  --container-fluid-color: #f5f6f8;
}

.main-color,
.text-color {
  color: #37517e;
}

.container-fluid-bg-color {
  background-color: var(--container-fluid-color);
}

.nav-container {
  background-color: var(--main-color);
}

.hero {
  width: 95%;
}

.hero p {
  color: #c3cbd9;
}
.hero img {
  animation: upDown 1.5s ease-in-out 0s infinite alternate both;
}

.gray {
  position: relative;
  width: 20%;
  height: 2px;
  background-color: lightgrey;
  margin: auto;
}

.blue {
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: aqua;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-process-card {
  overflow: hidden;
}

.work-process-card img {
  transition: all 0.3s;
}
.work-process-card:hover img {
  scale: 1.1;
}

.card-content {
  transition: all 0.3s;
}

.work-process-card:hover .card-content {
  transform: translateY(-10px);
}

.call-to-action {
  background: linear-gradient(
      to right,
      rgba(55, 81, 126, 0.3),
      rgba(55, 81, 126, 0.8)
    ),
    url("	https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp")
      fixed;
}

.portfolio-buttons button {
  transition: 0.3s;
}

.portfolio-buttons button:hover {
  background-color: aqua;
  cursor: pointer;
  color: white;
}

@keyframes upDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
